

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fond--Monserrate);
}
.img1{
  width: 400px;
  height: 400px;
}
:root{
  --fond--Monserrate: "Montserrat", sans-serif;
  --fond--Fredericka: "Fredericka the Great", serif;
  --color--amarillo: #ffe001;
  --color--parrafo: black;
  --texto--1con5: 1.5em;
  --borde--negro: black;
  --color__blanco: white;
  --color__path: #ebe9ac;

}

header{
  background-color: var(--color--amarillo);
  display: grid;
  grid-template-columns: 1fr;
  z-index: -1;
}
.color__path{
  background-color: var(--color__path);
  clip-path: polygon(78% 0, 100% 0%, 100% 100%, 49% 100%);
  width: 100vw;
  height: 952px;
  position: absolute;
}
.menu__menu{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin: 50px;
  margin-top: 0;
  z-index: 100;
}
.menu__check{
  display: none;
}
.menu__items{
  white-space: 100px;
  margin-left: 30px;
}
.menu__opciones{
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.menu__telefono{
  display: flex;
}
.menu__imgt{
  height: 100px;
}
.telefono__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-right: 20px;
}
.menu__logo{
  width: 400px;
  margin-top: 50px;
}
.menu__lista{
  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-evenly;
  
}
.menu__opciones{
  list-style: none;
  margin-left: 20px;
  margin-top: 30px;
  font-weight: bold;
}
.telefono__numero{
  font-size: 2em;
}
.telefono__deliveri{
  font-size: var(--texto--1con5);
}
.menu__link{
  text-decoration: none;
  padding: 10px 20px;
  border: solid 1px var(--color-texto2);
  color: var(--color-texto2);
}
.menu__link:hover{
  border: solid 1px var(--color-texto2-hover);
  color: var(--color-texto2-hover);
}
.section__1{
  z-index: 100;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  
}
.sec1__it1{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.sec1__are{
  font-style: italic;
  font-size: 3em;
}
.sec1__dont{
  font-family: var(--fond--Fredericka);
  font-size: 5em;
  margin-top: 10px;
}
.sec1__let{
  font-weight: bold;
  font-size: var(--texto--1con5);
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: solid 1px var(--borde--negro);
}
.sec1__p2{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.sec1__this{
  font-family: var(--fond--Fredericka);
  font-size: var(--texto--1con5);
}
.sec1__happy{
  font-family: var(--fond--Fredericka);
  font-size: var(--texto--1con5);
}
.sec1__suma{
  margin-top: -10px;
  font-family: var(--fond--Fredericka);
  font-size: 3.7em;
}
.sec1__order{
  margin-top: 60px;
  width: 200px;
  border: solid 2px var(--borde--negro);
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--color--parrafo);
  font-weight: bold;
}
.sec1__plato{
  height: 600px;
  margin-right: 100px;
}
.sec__abs1{
  position: absolute;
  width: 100px;
  margin-left: -1528px;
  margin-top: -55px;
}
.sec__abs2{
  width: 80px;
  position: absolute;
  margin-top: 500px;
  margin-right: 100px;
}
.sec__abs3{
  position: absolute;
  width: 100px;
}
.sec__abs4{
  position: absolute;
  width: 100px;
  margin-top: 430px;
  margin-left: -80px;
}
.sec__abs5{
  position: absolute;
  width: 400px;
  margin-left: -1900px;
  margin-top: 400px;
}
.section__2{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  gap: 60px;
}
.sec2__desc{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec2__title{
  font-family: var(--fond--Fredericka);
  font-size: 4em;
  font-weight: normal;
}
.sec2__parrafo{
  width: 70%;
  margin-top: 30px;
  font-size: 1.1em;
}
.color{
  width: 100%;
  height: 150px;
  background-color: #e8e6a9;
  position: absolute;
  z-index: -1;
  margin-top: 350px;
}
.sec2__cards{
  display: flex;
}
.sec2__card{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.card__parrafo{
  width: 70%;
}
.card__link{
  text-decoration: none;
  color: var(--color--parrafo);
  padding: 15px 40px;
  background-color: var(--color--amarillo);
  font-weight: bold;
}
.section__3{
  margin-top: 100px;
}
.sec3__desc{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sec3__dis{
  font-weight: bold;
  font-size: var(--texto--1con5);
}
.sec3__title{
  font-family: var(--fond--Fredericka);
  font-size: 3em;
  font-weight: normal;
  margin-top: 20px;
}
.sec3__parrafo{
  font-size: 1em;
  width: 65%;
  margin-top: 20px;
}
.sec3__carrusel{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec3__img{
  width: 550px;
  height: 400px;
}
.sec3__img--medio{
  width: 800px;
}
.sec3__imgs{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 22px;
}
.sec3__item{
  display: flex;
  flex-direction: column;
}
.imgs__img{
  margin-bottom: 34px;
}
.section__4{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.sec4__res{
  font-weight: bold;
  font-size: var(--texto--1con5);
}
.sec4__title{
  font-weight: normal;
  font-size: 4em;
  font-family: var(--fond--Fredericka);
}
.sec4__form{
  margin-top: 100px;
  width: 50%;
}
.form__form{
  display: grid;
  grid-template-rows: 60px 60px 60px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.form__btn{
  background-color: var(--color--amarillo);
  font-weight: bold;
  font-size: var(--texto--1con5);
}
.footer{
  display: flex;
  height: 400px;
  justify-content: space-around;
  background-color: #0b0b0b;
}
.footer__sec1{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__logo{
  width: 300px;
}
.footer__parrafo{
  width: 75%;
  color: var(--color__blanco);
}
.sec__parrafo{
  color: var(--color__blanco);
}
.footer__sec2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__local{
  display: flex;
  align-items: center;
}
.local__parrafo{
  color: var(--color__blanco);
}
.local{
  font-size: 2em;
  margin-right: 20px;
  color: var(--color--amarillo);
}
.footer__correo{
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.correo__parrafo{
  color: var(--color__blanco);
}
.correo{
  font-size: 2em;
  margin-right: 20px;
  color: var(--color--amarillo);
}